AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'true'
BinPackParameters: 'false'
BreakConstructorInitializers: AfterColon
CompactNamespaces: 'false'
Cpp11BracedListStyle: 'true'
IndentCaseLabels: 'true'
IndentPPDirectives: AfterHash
Language: Cpp
SortIncludes: 'true'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: '4'
IndentWidth: '4'
AccessModifierOffset: '-4'
PointerAlignment: 'Left'
