[submodule "3D Engine/dependencies/glfw"]
	path = 3D Engine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3D Engine/dependencies/glm"]
	path = 3D Engine/dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "3D Engine/dependencies/nlohmann_json"]
	path = 3D Engine/dependencies/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "clang-test"]
	path = clang-test
	url = https://github.com/llvm-mirror/clang
[submodule "CodeGen/dependencies/clang"]
	path = CodeGen/dependencies/clang
	url = https://github.com/llvm-mirror/clang
[submodule "CodeGen/dependencies/llvm"]
	path = CodeGen/dependencies/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "3D Engine/dependencies/libfmt"]
	path = 3D Engine/dependencies/libfmt
	url = https://github.com/fmtlib/fmt
[submodule "3D Engine/dependencies/FreeType"]
	path = 3D Engine/dependencies/FreeType
	url = https://github.com/aseprite/freetype2
[submodule "CodeGen/dependencies/cppast"]
	path = CodeGen/Serialization/cppast
	url = https://github.com/foonathan/cppast
[submodule "3D Engine/dependencies/assimp"]
	path = 3D Engine/dependencies/assimp
	url = https://github.com/assimp/assimp
